body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.wrapper {
  width: 1000px;
  border: 1px solid #f2f2f2;
  height: 200px;
  margin: 10px auto 10px auto;
}

.container-left {
  width: 30%;
  float: left;
}

img {
  width: 200px;
}

.container-right {
  width: 70%;
  float: right;
}

h1 {
  font-size: 3em;
}

audio {
  width: 200px;
}

audio:hover, audio:focus, audio:active {
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
transform: scale(1.05);
}

audio {
transition:all 0.5s linear;
box-shadow: 2px 2px 4px 0px #006773;
border-radius:7px 7px 7px 7px ;
}

@media (max-width: 360px) {
  #main {
    width: 100%;
  }
  .wrapper { width: 360px; height: 300px;}
  .container-left { width: 100%; }
  img {width: 150px;}
  .container-right { width: 100%; }
  h1 { font-size: 2em; margin-left: 20px;}
  audio { margin-left: 20px; }
}

@media (min-width: 361px) and (max-width: 900px){

}
